.table-sec {
    width: 100%;
    text-align: center;
}

.table-container {
    display: inline-block;
    width: 90%;
}

.form-sec {
    display: inline-block;
}

.print-btn-sec {
    text-align: right;
    margin-top: 4rem;
}

.title2 {
    margin: 2rem 5rem !important;
}

.title-display-sec {
    font-size: 1.3rem;
}

.zi-main {
    background-color: white !important;
}