.table-sec {
    width: 100%;
    text-align: center;
}

.table-container {
    display: inline-block;
    width: 80%;
}

.confirm-sec {
    display: inline-block;
    margin-top: 3rem;
    width: 80%;
    text-align: right;
}

.jumlah-sec {
    font-size: 1.5rem;
    font-family: "Volte Bold";
    display: inline-block;
    vertical-align: middle;
}

.jumlah-sec span {
    margin: 0 3.5rem 0 1rem;
    vertical-align: middle;
    font-size: 1.3rem;
    font-family: "Volte";
}

.submit-sec {
    display: inline-block;
    vertical-align: middle;
}

.submit-form {
    display: inline-block;
}