.login-center {
    height: auto;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.login-center h2, .login-center h3 {
    margin: 0;
    padding-top: 1rem;
}

.login-form {
    margin-top: 4rem;
}

.zi-input {
    height: 3rem;
    width: 20rem;
}

.submitbtn-sec {
    margin-top: 4rem;
}

.register-sec {
    margin-top: 5rem;
}

.register-sec a {
    text-decoration: underline;
}

.logo-img {
    height: 6rem;
}