.table-sec {
    width: 100%;
    text-align: center;
    padding-bottom: 6rem;
}

.table-container {
    display: inline-block;
    width: 80%;
}

.action-btn {
    min-width: 6rem;
    margin: 0.1rem;
}