.addrecord-content {
    margin: 3rem 14rem;
}

.zi-input {
    height: 4rem;
    width: 35rem;
    font-size: 1.1rem;
}

.login-form {
    display: grid;
    grid-template-columns: 35rem auto;
}

.zi-select-container {
    height: 4rem;
    width: 35rem;
    font-size: 1.1rem;
}

.zi-input-group,.zi-select-container {
    margin: 0.6rem 0;
}

.submitbtn {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15rem;
}

.add-buyer-btn {
    min-width: 5rem;
}

.extra-btn {
    margin-top: 3rem;
}